
html {
  width: 800px;
  margin: 0 auto;
}

.item {
  display: flex;
  height: 200px;
  gap: 30px;
}

h3{
  text-align: center;
}

img {
  width: 200px;
}

p:nth-child(3) {
  color: blue ;
}


.Submit {
  display: flex;
  gap: 30px;
  
}

.Submit p{
  color: grey;
}

.profile{
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.rank {
  display: flex;
  height: 30px;
  gap: 10px;
  align-items: baseline;
}

.rank p{
font-size: 20px;
margin: 0;
}

